from bs4 import BeautifulSoup
import requests
import time
import datetime
import pandas as pd
import os
import psycopg2
from dotenv import load_dotenv
load_dotenv()

from airflow import DAG
from airflow.operators.python import PythonOperator
from datetime import datetime
from jumia_scrapper.jumia_pipeline impor